/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
  position: relative;
  display: inline-block;
  top: -0.2rem;
  flex: 0 0 12rem;
  width: 12rem;
}

.logo-alt {
  max-width: 12rem;
  display: inline-block;

  img {
    width: 100%;
  }
}
